body {
    margin: 0px;
    font-family: sans-serif;
    border-top: solid 1px #929292;
}

#title {
    padding: 5px;
    text-align: center;
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    color: #113E3A;
    background-color: #B5BB9E;
    border-bottom: solid 1px #2F2F2F;
}

#footer {
    position: fixed;
    width: 100%;
    height: 17px;
    bottom: 0px;
    padding: 2px;
    font-family: monospace;
    font-size: medium;
    color: #2F2F2F;
    background-color: #F9F9F9;
    border: solid 1px #2F2F2F;
}

#options {
    padding: 2px;
    font-size: small;
    background-color: #FFFEEB;
    border-bottom: solid 1px #929292;
}

#options .pageBrowse {
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
    font-weight: bold;
    color: #2698A5;
    background-color: #E4E4E4;
    border-radius: 2px; /* rounded border */
    border: 1px solid #636363;
}

/* There is no button currently. This example shows how to style <button id="submitButton">Submit</button> for reference. */
#submitButton {
    font-size: smaller;
    background-color: #F1F1F1;
    border-radius: 2px; /* rounded border */
    border: solid 1px #000000;
}

#realtimeStatusbar {
    padding: 0px;
    text-align: center;
    font-size: small;
    font-weight: bold;
    background-color: #AFFF7C;
    border-bottom: solid 1px #929292;
    display: none; /* Hide initially */
}

#logBox {
    padding-bottom: 20px; /* Bottom padding so footer doesn't cover up any log messages */
}

#logTable {
    width: 100%;
    table-layout: auto;
    border: solid 0px #929292;
    display: none; /* Hide initially */
}

#logTable th,
#logTable td
{
    padding: 1px;
    font-size: small;
    vertical-align: top;
    border-left: 1px solid #888888;
    border-bottom: 1px solid #888888;
    white-space: nowrap; /* Don't wrap text to new line */
}

#logTable th {
    color: #000000;
    background-color: #F7F7F7;
}

#logTable td.message {
    width: 100%;
    white-space: pre-wrap; /* Wrap text and preserve new lines, spaces, and tabs in this cell. */
}

#logTable td.ts {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #33444A;
}

#logTable td.ts_hover {
    color: #0CE7FF;
}

#logTable td.info {
    background-color: #BCFFA0;
}

#logTable td.warn {
    background-color: #FDFF9C;
}

#logTable td.error {
    background-color: #FF9191;
}

#logTable td.debug {
    background-color: #5BDCD0;
}