body {
    margin: 0px;
    font-family: sans-serif;
    border-top: solid 1px #929292;
}

#title {
    padding: 5px;
    text-align: center;
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    color: #113E3A;
    background-color: #B5BB9E;
    border-bottom: solid 1px #2F2F2F;
}

#options {
    padding: 2px;
    font-size: small;
    background-color: #FFFEEB;
    border-bottom: solid 1px #929292;
}

#options .pageButton {
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
    font-weight: bold;
    color: #2698A5;
    background-color: #E4E4E4;
    border-radius: 2px; /* rounded border */
    border: 1px solid #636363;
}

#options .pageButton_hover {
    background-color: #C5C5C5;
}

#realtimeStatusbar {
    padding: 0px;
    text-align: center;
    font-size: small;
    font-weight: bold;
    background-color: #C4FF9F;
    border-bottom: solid 1px #929292;
    display: none; /* Hide initially */
}

#logBox {
    padding-bottom: 43px; /* Bottom padding so footer doesn't cover up any log messages */
}

#logTable {
    width: 100%;
    table-layout: auto;
    border: solid 0px #929292;
    display: none; /* Hide initially */
}

#logTable th,
#logTable td
{
    padding: 1px;
    font-size: small;
    vertical-align: top;
    border-left: 1px solid #888888;
    border-bottom: 1px solid #888888;
    white-space: nowrap; /* Don't wrap text to new line */
}

#logTable th {
    color: #000000;
    background-color: #F7F7F7;
}

#logTable td.message {
    width: 100%;
    white-space: pre-wrap; /* Wrap text and preserve new lines, spaces, and tabs in this cell. */
    word-break: break-all; /* Break between letters if necessary to prevent horizontal scrollbar */
}

#logTable td.ts {
    color: #FFFFFF;
    background-color: #33444A;
}

#logTable td.info {
    background-color: #BCFFA0;
}

#logTable td.warn {
    background-color: #FDFF9C;
}

#logTable td.error {
    background-color: #FF9191;
}

#logTable td.debug {
    background-color: #5BDCD0;
}

#logTable td.ts_highlight {
    color: #F1EFA0;
}

#logTable td.highlight {
    background-color: #EFEFEF;
}

#browser {
    position: fixed;
    width: 100%;
    height: 20px;
    bottom: 23px;
    padding: 0px;
    font-family: monospace;
    font-size: small;
    color: #2F2F2F;
    background-color: #FFFFFF;
    border: solid 0px #D6D6D6;
}

#browserTable {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-top: solid 0px #929292;
}

#browserTable th,
#browserTable td
{
    padding: 0px;
    font-size: small;
    vertical-align: top;
    border: 1px solid #D6D6D6;
    white-space: nowrap; /* Don't wrap text to new line */
}

#browserTable td.count_zero {
    background-color: #F7F7F7;
}

#browserTable td.over_zero {
    background-color: #D5E8BF;
}

#browserTable td.over_ten {
    background-color: #B0DE7B;
}

#browserTable td.over_hundred {
    background-color: #6BAF1C;
}

#browserTable td.over_thousand {
    background-color: #446123;
}

#browserTable td.summary_cell_highlight {
    border: 1px solid #222222;
}

#footer {
    position: fixed;
    width: 100%;
    height: 17px;
    bottom: 0px;
    padding: 2px;
    font-family: monospace;
    font-size: medium;
    color: #2F2F2F;
    background-color: #F9F9F9;
    border: solid 1px #A0A0A0;
}